Repository SomeoneInParticular/CART, pull requests merged in 2025-07, with the labels that each got.

#38 Added "Built-in" Segmentaton Review Task
  .gitignore
  CART/CART.py
  CART/CARTLib/OrganLabellingDemo.py
  CART/CARTLib/core/DataManager.py
  CART/CARTLib/core/TaskBaseClass.py
  CART/CARTLib/examples/README.md
  CART/CARTLib/examples/SegmentationEvaluationDataUnit.py
  CART/CARTLib/examples/SegmentationEvaluationTask.py
  CART/CARTLib/examples/__init__.py
Labels: enhancement, core, development

#48 Initial CART Shared Utilities
  CART/CART.py
  CART/CARTLib/Config.py
  CART/CARTLib/core/TaskBaseClass.py
  CART/CARTLib/default_config.json
  CART/CARTLib/examples/SegmentationEvaluationDataUnit.py
  CART/CARTLib/examples/SegmentationEvaluationTask.py
  CART/CARTLib/utils/__init__.py
  CART/CARTLib/utils/config.py
  CART/CARTLib/utils/data.py
  CART/CARTLib/utils/default_config.json
  CART/CARTLib/utils/widgets.py
Labels: core, development

#71 Ije/revamp saving data
  CART/CARTLib/examples/MultiContrastSegmentation/MultiContrastOutputManager.py
  CART/CARTLib/examples/MultiContrastSegmentation/MultiContrastSegmentationEvaluationDataUnit.py
  CART/CARTLib/examples/MultiContrastSegmentation/MultiContrastSegmentationEvaluationTask.py
  CART/CARTLib/utils/data.py
  CART/CARTLib/utils/layout.py
  CART/CARTLib/utils/widgets.py
Labels: [TASK] segmentation
